*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.login-wrap{
	height: 450px;
	margin: auto;
	left: 270px;
	box-shadow: 7px 13px 37px #fff;
	top: -80px;
}
.ilus1{
 	position: absolute;
 	top: 150px;
 	left: 140px;
}